body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "RecoletaMedium";
  src: local("RecoletaMedium"),
    url("./fonts/Recoleta-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "RecoletaBold";
  src: local("RecoletaBold"),
    url("./fonts/Recoleta-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  
}


@font-face {
  font-family: "RecoletaLight";
  src: local("RecoletaLight"),
    url("./fonts/Recoleta-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  
}


@font-face {
  font-family: "RecoletaAltBold";
  src: local("RecoletaAltBold"),
    url("./fonts/RecoletaAlt-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  
}


@font-face {
  font-family: "RecoletaAltMedium";
  src: local("RecoletaAltMedium"),
    url("./fonts/RecoletaAlt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  
}



@font-face {
  font-family: "RecoletaAltLight";
  src: local("RecoletaAltLight"),
    url("./fonts/RecoletaAlt-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  
}

@font-face {
  font-family: "RecoletaRegular";
  src: local("RecoletaRegular"),
    url("./fonts/Recoleta-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  
}

@font-face {
  font-family: "RecoletaSemiBold";
  src: local("RecoletaSemiBold"),
    url("./fonts/Recoleta-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  
}


@font-face {
  font-family: "RecoletaBlack";
  src: local("RecoletaBlack"),
    url("./fonts/Recoleta-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  
}











